@{ 
    Layout = null;
}

@model LoginViewModel


<div class="card-body">
    <h3 class="card-title">ورود</h3>
    <form asp-action="LoginConfirm">
        <div class="form-group">
            <label>آدرس ایمیل</label>
            <input asp-for="username" type="email" class="form-control" placeholder="ایمیل را وارد کنید">
        </div>
        <div class="form-group">
            <label>رمز عبور</label>
            <input asp-for="password" type="password" class="form-control" placeholder="رمز عبور را وارد کنید"> <small class="form-text text-muted"><a href="">فراموشی رمز عبور</a></small>
        </div>
        <div class="form-group">
            <div class="form-check">
                <span class="form-check-input input-check">
                    <span class="input-check__body">
                        <input asp-for="rememberMe" class="input-check__input" type="checkbox" id="login-remember"> <span class="input-check__box"></span>
                        <svg class="input-check__icon" width="9px" height="7px">
                            <use xlink:href="images/sprite.svg#check-9x7"></use>
                        </svg>
                    </span>
                </span>
                <label class="form-check-label" for="login-remember">به خاطر سپاری</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4">ورود</button>
    </form>
</div>